/EjA03Colecciones/build/
/EjA04Colecciones/nbproject/private/
/EjA04Colecciones/build/
/EjA05Colecciones/nbproject/private/
/EjA05Colecciones/build/
/EjA06Colecciones/nbproject/private/
/EjA06Colecciones/build/
/EjExtra01Colecciones/nbproject/private/
/EjExtra01Colecciones/build/
/Ej01ExtraColecciones/nbproject/private/
/Ej01ExtraColecciones/build/
/Ej02ExtraColecciones/nbproject/private/
/Ej02ExtraColecciones/build/